.header {
  background-color: $white;
  color: $text;
}

.navbar {
  align-items: center;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  
  .navbar-menu {
    background-color: $white;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  
  .menu-icon {
    fill: $text;
    border-right: 1px solid #bbb;
    &:hover {
      background-color: $button-color;
    }
  }
  
  .menu-item {
    float: left;
    
    .item {
      display: block;
      color: #5f5f5f;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
    }
  }
  .header-field {
    // centraliza o input
    margin: auto;
    max-width: 500px;
    width: 100%;
  }
}

.avatar {
  border: 9px solid #8db7d2;
  border-radius: 50%;
  margin-top: 20px;
}