.full-card {
    width: 70%;
    //transition: width ease 0.5s;
  
    &.is-open {
        margin: 0;
        width: 55%;
    }
  
    .actions {
        @include box-shadow(0px 0px 2px 0px rgba(0, 0, 0, 0.3));
    }
}