// estilos para os headings h1-h6, blockquotes, a, buttons, etc

main {
    align-content: space-around;
    background: url('../img/bg-application.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    padding: 120px 30px 0;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

button,
input {
    background: none;
    border: none;

    &:focus,
    &:active {
        outline: 0;
    }
}

.icon {
    height: 1em;
    width: 1em;
  }